{% extends "base.html" %}
{% block MAIN_CONTENT %}

<h3>Label Cell</h3>
<div class="row">
  <div class="col-md-2 col-md-offset-5">
    <img src="/cellimage/{{ cell.pk }}/" style="height:100px"></img>     
  </div>
</div>
<div class="row">
  <div class="col-md-2 col-md-offset-0">
    {% for label in labels %}
    <a href="{% url 'add_label' dataset=dataset.pk cell=cell.pk label=label.pk %}" id="{{ forloop.counter }}" class='btn btn-block btn-primary'>{{ forloop.counter }}. {{ label.name }}</a>
    {% endfor %}
    <a href="/" class='btn btn-block btn-success'>End Session</a>
  </div>
</div>
{% endblock %}

{% block JS_EXTRA %}
<script>
document.addEventListener("DOMContentLoaded", function(event) { 
  document.addEventListener("keypress", function(event) {
    document.getElementById(event.which - 48).click();
  });
});

</script>
{% endblock %}